
/* ----- Add Task -----*/

div.addTask {
  position: absolute;
  display: block;
  opacity: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(40, 40, 40, 0.8);
  z-index: -1000;
  transition: 0.5s;
}

div.addTask div.wrapper {
  position: absolute;
  display: block;
  width: 500px;
  height: 650px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  box-shadow: 0px 0px 20px #444;
}

div.addTask div.content {
  position: relative;
  display: block;
  top: 50%;
  transform: translate(0, -50%);
}

div.addTask h1 {
  position: relative;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 25px;
  text-align: center;
}

div.addTask h1#addTitle {
  display: block;
}

div.addTask h1#editTitle {
  display: none;
}

div.addTask h1 span {font-weight: 700}

div.addTask input {
  position: relative;
  display: block;
  width: 70%;
  height: 55px;
  margin: auto;
  margin-top: 35px;
  border: none;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  outline: none;
  text-indent: 20px;
  background: #F1F1F1;
}

div.addTask textarea {
  position: relative;
  display: block;
  width: 70%;
  height: 150px;
  margin: auto;
  padding: 20px;
  margin-top: 15px;
  border: none;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  outline: none;
  background: #F1F1F1;
  resize: none;
}

div.addTask button {
  position: relative;
  height: 55px;
  margin: auto;
  margin-top: 20px;
  border: none;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: white;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}

div.addTask button#addBtn {
  display: block;
  width: 70%;
  background: #FF514C;
}

div.addTask button#editBtn {
  display: none;
  width: 70%;
  background: #C4DADE;
}

div.addTask button:hover{background: #FF2727}

div.addTask button#closeBtn {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 20px;
  top: 0;
  font-size: 15px;
}

div.addTask h2 {
  position: relative;
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  text-indent: 5px;
}

div.addTask div.projectSelector {
  position: relative;
  display: block;
  width: 70%;
  height: 90px;
  margin: auto;
  margin-top: 10px;
  padding: 3px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

label[for=project0] {
  width: 120px;
  text-align: center;
}

div.projectSelector form input {
  position: relative;
  display: none;
}

div.projectSelector form input[type="radio"] + label {
  position: relative;
  display: inline-block;
  height: 60px;
  margin-right: 10px;
  border-radius: 30px;
  background: #F1F1F1;
  vertical-align: top;
}

div.projectSelector form input[type="radio"]:checked + label {
  background: #DDDDDD;
}

div.projectSelector form label div.color {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: blue;
  vertical-align: top;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0px 10px 0px 20px;
}

div.projectSelector form label h3 {
  position: relative;
  display: inline-block;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  vertical-align: top;
  top: 50%;
  transform: translate(0, -50%);
}

div.projectSelector form label button {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 20px;
  height: 20px;
  background: none;
  vertical-align: top;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0px 20px 0px 10px;
}

div.projectSelector form label button:hover {
  opacity: 0.7;
  background: none;
}

div.projectSelector form label button img {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
}

/* ----------------- MOBILE -----------------*/

@media screen and (max-width: 780px) {

  div.addTask {
    position: fixed;
    width: 100vw;
    height: 100vh;
  }

  div.addTask div.wrapper {
    position: absolute;
    display: block;
    width: 100vw;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    box-shadow: 0px 0px 20px #444;
  }

  div.addTask div.content {
    position: relative;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
  }

  div.addTask h1 {
    position: relative;
    display: block;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;
  }

  div.addTask h1 span {font-weight: 700}

  div.addTask input {
    position: relative;
    display: block;
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    border: none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    outline: none;
    text-indent: 20px;
    background: #F1F1F1;
  }

  div.addTask textarea {
    position: relative;
    display: block;
    width: 80%;
    height: 150px;
    margin: auto;
    padding: 20px;
    margin-top: 15px;
    border: none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    outline: none;
    background: #F1F1F1;
    resize: none;
  }

  div.addTask button {
    position: relative;
    display: block;
    width: 80%;
    height: 55px;
    margin: auto;
    margin-top: 40px;
    border: none;
    background: #FF514C;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    color: white;
    outline: none;
    transition: 0.3s;
  }

  div.addTask button:hover{background: #FF2727}

  div.addTask button#closeBtn {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 15px;
    top: 0;
    font-size: 15px;
  }
}
