body {
  margin: 0;
  min-width: 1250px;
  overflow-x: hidden;
}

/* ----- Bar -----*/

div.bar {
  position: fixed;
  display: block;
  overflow: hidden;
  width: 100vw;
  min-width: 1250px;
  height: 60px;
  box-shadow: 0px 0px 10px #B4B4B4;
  z-index: 5000;
  background: white;
  top: 0;
}

div.bar img {
  position: relative;
  display: inline-block;
  float: left;
  width: 40px;
  margin: 10px 0px 10px 30px;
}

div.bar a.link:nth-of-type(2) {
  margin: 15px 60px 15px 0px;
  background: #9013FE;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  color: white;
}

div.bar a.link {
  display: none;
  position: relative;
  display: inline-block;
  float: right;
  margin: 20px 40px 20px 10px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

div.bar a#barDash {
  display: none;
  margin: 15px 60px 15px 0px;
  background: #9013FE;
  padding: 2px 20px 2px 20px;
  border-radius: 15px;
  color: white;
}

div.bar a#barDash p {
  position: relative;
  display: inline-block;
  top: 3px;
  margin-left: 5px;
}

div.bar a#barDash img {
  position: relative;
  display: inline-block;
  width: 25px;
  vertical-align: top;
  margin: 0;
}

/* ----- Background -----*/

div.background {
  position: relative;
  display: block;
  width: 100vw;
  margin-top: 60px;
  min-width: 1000px;
  height: calc(65vh - 85px);
  min-height: 450px;
  background: url(../res/image.jpeg);
  background-size: cover;
  background-position: center;
}

/* ----- Content -----*/

div.content {
  position: relative;
  display: block;
  width: 100vw;
  min-width: 1000px;
  height: 35vh;
  min-height: 350px;
  background: #9013FE;
}

div.box {
  position: absolute;
  display: block;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 900px;
  height: 550px;
  background: white;
  box-shadow: 0px 0px 10px #929292;
}

div.left {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  float: left;
  background: url(../res/contact.png);
  background-size: cover;
  background-position: center;
}

div.right {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  float: right;
  background: white;
}

form {
  position: relative;
  display: block;
  width: 70%;
  margin: auto !important;
  top: 50%;
  transform: translate(0, -50%);
}

form h1 {
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 25px;
}

form span {font-weight: 700}

form input {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  text-indent: 20px;
  background: #F6F6F6;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
}

form textarea {
  position: relative;
  display: block;
  width: 100%;
  height: 180px;
  outline: none;
  border: none;
  resize: none;
  padding: 20px;
  background: #F6F6F6;
  margin-bottom: 15px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
}

form button {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  background: #FF514C;
  color: white;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width: 736px) {

  body {
    min-width: 0px;
    min-height: 0px;
    width: 100%;
    height: auto !important;
  }

/* ----- Bar -----*/

  div.bar {
    min-width: 0px;
    min-height: 0px;
    width: 100vw;
  }

  div.bar a.link {
    font-size: 0.75em;
    margin: 22.5px 30px 0px 0px;
  }

  div.bar a.link:nth-of-type(2) {
    margin-right: 30px;
    margin: 17.5px 30px 0px 0px;
  }

  div.bar a#barDash {
    display: none;
    margin: 17.5px 25px 0px 0px;
    padding: 3px 20px 3px 20px;
    border-radius: 15px;
    color: white;
  }

  div.bar a#barDash p {
    position: relative;
    display: inline-block;
    top: 3px;
    margin-left: 5px;
  }

  div.bar a#barDash img {
    position: relative;
    display: inline-block;
    width: 20px;
    vertical-align: top;
    margin: 0;
  }

  /* ----- Background -----*/

  div.background {
    min-width: 0px;
    min-height: 0px;
    width: 100vw;
    height: 200px;
  }

/* ----- Content -----*/

  div.content {
    min-width: 0px;
    min-height: 0px;
    width: 100vw;
    height: 500px;
  }

  /* ----- Signup -----*/

  div.box {
    width: 90%;
    height: 110%;
    bottom: 20px;
  }

  div.left {
    display: none;
  }

  div.right {
    float: none;
    width: 100%;
    height: 75%;
  }

  form {
    width: 80%;
    top: 15%;
    transform: translate(0,0);
  }
