body {
  margin: 0;
  min-width: 1550px;
}

::-webkit-scrollbar {display: none}
::-moz-scrollbar {display: none}
::-ms-scrollbar {display: none}

/* ----- Bar -----*/

div.bar {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100vw;
  min-width: 1550px;
  height: 60px;
  box-shadow: 0px 0px 10px #B4B4B4;
}

div.bar img {
  position: relative;
  display: inline-block;
  float: left;
  width: 40px;
  margin: 10px 0px 10px 30px;
}

div.bar button {
  position: relative;
  display: inline-block;
  float: right;
  height: 25px;
  width: 35px;
  background: url(../res/menuIcon.png);
  background-size: cover;
  border: none;
  margin: 17.5px 40px 17.5px 0px;
  outline: none;
}

/* ----- Heading -----*/

div.heading {
  position: relative;
  display: block;
  width: 100vw;
  min-width: 1550px;
  height: 60px;
  z-index: 100;
}

div.heading button {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 15px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  color: white;
  margin-top: 20px;
  outline: none;
}

div.heading button#previous {
  background: #3FA8F4;
  float: left;
  margin-left: 40px;
  transition: 0.3s;
}

div.heading button#newWeek {
  background: #FF514C;
  float: right;
  margin-right: 40px;
  transition: 0.3s;
}

div.heading button#previous:hover {background: #0581CE}
div.heading button#newWeek:hover {background: #FF2727}

div.heading h1 {
  position: absolute;
  display: inline-block;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 25px;
  left: 50%;
  transform: translate(-50%,0);
  margin-top: 20px;
}

div.heading h1 span {font-weight: 700}

div.heading h1 button#bubble {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  vertical-align:text-top;
  top: -14px;
  margin-left: 10px;
}

/* ----- Dash -----*/

div.dash {
  position: relative;
  display: block;
  width: 1500px;
  height: 720px;
  margin: auto;
  background: white;
  box-shadow: 0px 0px 8px #B4B4B4;
  margin-top: 15px;
  margin-bottom: 50px;
}

div.day {
  position: relative;
  display: inline-block;
  width: 33.3%;
  height: 49.9%;
  background: white;
  vertical-align: top;
  overflow: hidden;
}

div#tue::before, div#wed::before, div#fri::before, div#sat::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 1px;
  height: 300px;
  background: #CBCBCB;
  margin-top: 37.5px;
}

div.day h1 {
  position: absolute;
  display: block;
  top: 0;
  margin: 35px 0px 0px 30px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
}

div#mon h1 {color: #FF514C}
div#tue h1 {color: #E5E500}
div#wed h1 {color: #F6921E}
div#thu h1 {color: #7AC843}
div#fri h1 {color: #3FA8F4}
div#sat h1 {color: #662D90}

div.day h2 {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  margin: 40px 30px 0px 0px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
}

div.day button.addBtn {
  position: absolute;
  display: block;
  opacity: 0;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 35px;
  border: none;
  border-radius: 30px;
  margin: 0px 20px 10px 0px;
  color: white;
  transition: 0.5s;
  outline: none;
  z-index: 100;
}

div#mon button {background: #FF514C; /*box-shadow: 0px 0px 10px #FF514C;*/}
div#tue button {background: #E5E500; /*box-shadow: 0px 0px 10px #E5E500;*/}
div#wed button {background: #F6921E; /*box-shadow: 0px 0px 10px #F6921E;*/}
div#thu button {background: #7AC843; /*box-shadow: 0px 0px 10px #7AC843;*/}
div#fri button {background: #3FA8F4; /*box-shadow: 0px 0px 10px #3FA8F4;*/}
div#sat button {background: #662D90; /*box-shadow: 0px 0px 10px #662D90;*/}

div.day:hover button.addBtn {opacity: 1}

div.day ul {
  position: absolute;
  display: block;
  width: 80%;
  height: 60%;
  top: 0;
  margin: 90px 0px 0px 50px;
  overflow: hidden;
  overflow-y: scroll;
}

/* ----- Task  -----*/

/*.task {
  border: 1px solid black;
}*/

.task p {
  position: relative;
  display: inline-block;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.task input {
  position: relative;
  display: inline-block;
  vertical-align:text-top;
  width: 25px;
  height: 25px;
  float: right;
  color: #39B44A;
}

.task button#delete {
  position: relative;
  display: inline-block;
  opacity: 0;
  float: right;
  width: 25px;
  height: 25px;
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
  margin-left: 5px;
  transition: 0.2s;
}

.task:hover button#delete {
  opacity: 1;
}

.task button#delete:hover svg .fill  {
  fill: red;
  transition: 0.3s;
}

.task svg {
  position: relative;
  display: block;
}

.task svg .fill {
  fill: #C0CECB;
}

.noFill {
  fill: none;
}

.toggle {
  color: #9FAAB7;
}

/* ----- Task Detail View -----*/

.detail {
  margin-top: -10px;
  opacity: 0;
  display: none;
  transition: 0.3s;
}

.detail p {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 40px;
}

/* ----- Menu -----*/

div.menu {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: rgba(40, 40, 40, 0.8);
  transition: 0.5s;
  z-index: -1000;
}

div.menu div.content {
  position: relative;
  display: block;
  float: right;
  width: 0px;
  height: 100vh;
  background: white;
  box-shadow: 0px 0px 8px #444;
  transition: 0.3s;
}

div.menu button#closeMenuBtn {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  outline: none;
  margin: 20px 0px 0px 20px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  color: white;
  background: #FF514C;
  /*box-shadow: 0px 0px 10px #FF514C;*/
  transition: 0.3s;
}

div.menu button#closeMenuBtn:hover {background: #FF2727}

div.menu div.content h1 {
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 26px;
  margin-top: 50px;
}

div.menu div.content h2 {
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
}

div.menu div.content a {
  position: relative;
  display: block;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: black;
  margin: 15px 0px 0px 40px;
}

div.menu div.content a:first-of-type {margin-top: 60px}

div.menu button#signOut {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
  height: 40px;
  margin: auto;
  margin-bottom: 40px;
  border: none;
  border-radius: 30px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  color: white;
  background: #FF514C;
  transition: 0.3s;
}

div.menu button#signOut:hover {background: #FF2727}

/* ----- Bubble -----*/

div.bubble {
  position: absolute;
  width: 480px;
  height: 300px;
  background-color: #EDEDED;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 10px #999;
  -moz-box-shadow: 0px 0px 10px #999;
  box-shadow: 0px 0px 10px #999;
  z-index: 2000;
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
}

div.bubble:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 172px;
  margin: auto;
  top: -30px;
  border: 18px solid;
  border-color: transparent #EDEDED #EDEDED transparent;
}

div.bubble h1 {
  position: relative;
  display: block;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  margin: 25px 0px 0px 40px;
}

div.bubble h1 span {font-weight: 700}

div.bubble input {
  position: absolute;
  display: block;
  width: 400px;
  bottom: 0;
  right: 0;
  height: 55px;
  margin: 0px 40px 30px 0px;
  border: none;
  border-radius: 27.5px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  outline: none;
  text-indent: 20px;
  background: white;
}

div.bubble button#bubbleAdd {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 55px;
  height: 55px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 35px;
  border: none;
  border-radius: 27.5px;
  margin: 0px 40px 30px 0px;
  color: white;
  transition: 0.5s;
  outline: none;
  z-index: 100;
  background: #FF514C;
}
