body {
  margin: 0;
  min-width: 1550px;
  background: #F1F1F1;
}

::-webkit-scrollbar {display: none}
::-moz-scrollbar {display: none}
::-ms-scrollbar {display: none}

/* ----- Bar -----*/

div.bar {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100vw;
  min-width: 1550px;
  height: 60px;
  background: white;
  box-shadow: 0px 0px 10px #B4B4B4;
}

div.bar img {
  position: relative;
  display: inline-block;
  float: left;
  width: 40px;
  margin: 10px 0px 10px 30px;
}

div.bar button {
  position: relative;
  display: inline-block;
  float: right;
  height: 20px;
  width: 35px;
  background: url(../res/menuIcon.png);
  background-size: cover;
  border: none;
  margin: 20px 40px 20px 0px;
  outline: none;
}

/* ----- Heading -----*/

div.heading {
  position: relative;
  display: block;
  width: 100vw;
  min-width: 1550px;
  height: 60px;
  z-index: 100;
}

div.heading button {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 15px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  color: white;
  margin-top: 20px;
  outline: none;
}

div.heading button#previous {
  background: #3FA8F4;
  float: left;
  margin-left: 40px;
  transition: 0.3s;
}

button#previous div.triangle {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 17px solid white;
}

div.heading button#newWeek {
  background: #FF514C;
  float: right;
  margin-right: 40px;
  transition: 0.3s;
}

button#newWeek div.triangle {
 position: absolute;
 display: none;
 width: 0;
 height: 0;
 border-top: 12px solid transparent;
 border-bottom: 12px solid transparent;
 border-left: 17px solid white;
}

div.heading button#previous:hover {background: #0581CE}
div.heading button#newWeek:hover {background: #FF2727}

div.heading h1 {
  position: absolute;
  display: inline-block;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 25px;
  left: 50%;
  transform: translate(-50%,0);
  margin-top: 20px;
}

div.heading h1 span {font-weight: 700}

div.heading h1 button#showBubble {
  position: relative;
  display: inline-block;
  width: 25px;
  border-radius: 0;
  background: url(../res/toDoIcon.png);
  background-size: cover;
  vertical-align:text-top;
  top: -20px;
  margin-left: 10px;
}

div.mobileBubble {
  position: relative;
  display: none;
  width: 90%;
  height: 50px;
  background: #C3C3C3;
  box-shadow: 0px 0px 5px #B3B3B3;
  top: 90px;
  margin: auto;
}

div.mobileBubble p {
  position: absolute;
  display: inline-block;
  float: left;
  left: 20px;
  top: 50%;
  transform: translate(0,-50%);
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.3em;
  color: white;
}

div.mobileBubble p span {font-weight: 700}

div.mobileBubble img {
  position: absolute;
  display: inline-block;
  float: right;
  height: 30px;
  top: 10px;
  right: 15px;
}

/* ----- Dash -----*/

div.dash {
  position: relative;
  display: block;
  width: 1500px;
  height: 720px;
  margin: auto;
  background: white;
  box-shadow: 0px 0px 8px #B4B4B4;
  margin-top: 15px;
  margin-bottom: 50px;
}

div.day {
  position: relative;
  display: inline-block;
  width: 33.3%;
  height: 49.9%;
  background: white;
  vertical-align: top;
  overflow: hidden;
}

div#tue::before, div#wed::before, div#fri::before, div#sat::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 1px;
  height: 300px;
  background: #CBCBCB;
  margin-top: 37.5px;
}

div.day h1 {
  position: absolute;
  display: block;
  top: 0;
  margin: 35px 0px 0px 30px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
}

div#mon h1 {color: #FF514C}
div#tue h1 {color: #E5E500}
div#wed h1 {color: #F6921E}
div#thu h1 {color: #7AC843}
div#fri h1 {color: #3FA8F4}
div#sat h1 {color: #662D90}

div.day h2 {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  margin: 40px 30px 0px 0px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
}

div.day button.addBtn {
  position: absolute;
  display: block;
  opacity: 0;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 35px;
  border: none;
  border-radius: 30px;
  margin: 0px 20px 10px 0px;
  color: white;
  transition: 0.5s;
  outline: none;
  z-index: 100;
}

div#mon button {background: #FF514C; /*box-shadow: 0px 0px 10px #FF514C;*/}
div#tue button {background: #E5E500; /*box-shadow: 0px 0px 10px #E5E500;*/}
div#wed button {background: #F6921E; /*box-shadow: 0px 0px 10px #F6921E;*/}
div#thu button {background: #7AC843; /*box-shadow: 0px 0px 10px #7AC843;*/}
div#fri button {background: #3FA8F4; /*box-shadow: 0px 0px 10px #3FA8F4;*/}
div#sat button {background: #662D90; /*box-shadow: 0px 0px 10px #662D90;*/}

div.day:hover button.addBtn {opacity: 1}

div.day ul {
  position: absolute;
  display: block;
  width: 80%;
  height: 60%;
  top: 0;
  margin: 90px 0px 0px 50px;
  overflow: hidden;
  overflow-y: scroll;
}

/* ----- Task  -----*/

.task p {
  position: relative;
  display: inline-block;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.task input {
  position: relative;
  display: inline-block;
  vertical-align: text-top;
  width: 25px;
  height: 25px;
  float: right;
  color: #39B44A;
}

.task button#delete {
  position: relative;
  display: inline-block;
  opacity: 0;
  float: right;
  width: 25px;
  height: 25px;
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
  margin-left: 5px;
  transition: 0.2s;
}

.task:hover button#delete {
  opacity: 1;
}

.task button#delete:hover svg .fill  {
  fill: red;
  transition: 0.3s;
}

.task svg {
  position: relative;
  display: block;
}

.task svg .fill {
  fill: #C0CECB;
}

.noFill {
  fill: none;
}

.toggle {
  color: #9FAAB7;
}

/* ----- Task Detail View -----*/

.detail {
  margin-top: -10px;
  opacity: 0;
  display: none;
  transition: 0.3s;
}

.detail p {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 40px;
}

/* ----- Menu -----*/

div.menu {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: rgba(40, 40, 40, 0.8);
  transition: 0.5s;
  z-index: -1000;
}

div.menu div.content {
  position: relative;
  display: block;
  float: right;
  height: 100vh;
  background: white;
  box-shadow: 0px 0px 8px #444;
  transition: 0.3s;
  overflow: hidden;
}

.width {
  width: 350px;
  transition: 0.3s;
}

div.menu button#closeMenuBtn {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  outline: none;
  margin: 20px 0px 0px 20px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  color: white;
  background: #FF514C;
  transition: 0.3s;
}

div.menu button#closeMenuBtn:hover {background: #FF2727}

div.menu div.content h1 {
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 26px;
  margin-top: 50px;
}

div.menu div.content h2 {
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
}

div.menu div.content a {
  position: relative;
  display: block;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: black;
  margin: 15px 0px 0px 40px;
}

div.menu div.content a:first-of-type {margin-top: 60px}

div.menu button.menuBtn {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
  height: 40px;
  margin: auto;
  border: none;
  border-radius: 30px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  color: white;
  background: #FF514C;
  outline: none;
  transition: 0.3s;
}

div.menu button#signOut {
  margin-bottom: 40px;
}

div.menu button#verify {
  margin-bottom: 100px;
}

div.menu button#signOut:hover {background: #FF2727}

/* ----- Bubble -----*/

div.bubble {
  position: absolute;
  display: none;
  width: 470px;
  height: 300px;
  opacity: 1;
  background-color: #EDEDED;
  border-radius: 0px;
  z-index: 2000;
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s;
}

div.bubble:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 167px;
  margin: auto;
  top: -30px;
  border: 18px solid;
  border-color: transparent #EDEDED #EDEDED transparent;
}

div.bubble h1 {
  position: relative;
  display: block;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  text-align: left;
  margin: 25px 0px 0px 40px;
}

div.bubble h1 span {font-weight: 700}

div.bubble input#toDoName {
  position: absolute;
  display: block;
  width: 400px;
  bottom: 0;
  right: 0;
  height: 55px;
  margin: 0px 40px 30px 0px;
  border: none;
  border-radius: 27.5px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  outline: none;
  text-indent: 30px;
  padding-right: 60px;
  background: white;
  z-index: 2000;
}

div.bubble button#bubbleAdd {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 55px;
  height: 55px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 35px;
  border: none;
  border-radius: 27.5px;
  margin: 0px 40px 30px 0px;
  color: white;
  transition: 0.5s;
  outline: none;
  z-index: 100;
  background: #FF514C;
  z-index: 2000;
}

div.bubble ul#bubbleList {
  position: relative;
  display: block;
  height: 120px;
  margin: 20px 25px 10px 50px;
  overflow: scroll;
}

div.bubbleBack {
  position: absolute;
  display: none;
  width: 100%;
  height: calc(100% - 60px);
  z-index: 2000;
}


/* ----------------- MOBILE -----------------*/

@media screen and (max-device-width: 700px) {

  body {
    min-width: 0px;
    min-height: 0px;
    width: 100%;
  }

/* ----- Bar -----*/

  div.bar {
    min-width: 0px;
    min-height: 0px;
    width: 100vw;
  }

  div.bar img {
    position: relative;
    display: inline-block;
    float: left;
    width: 40px;
    margin: 10px 0px 10px 30px;
  }

  div.bar button {
    height: 20px;
    width: 35px;
    margin: 20px 25px 10px 30px;
  }

/* ----- Heading -----*/

  div.heading {
    min-width: 0px;
    width: 100vw;
    height: 80px;
    z-index: 100;
  }

  div.heading button {
    width: 50px;
    height: 50px;
    border-radius: 65px;
    margin-top: 30px;
  }

  div.heading button p {display: none}

  div.heading button#previous {
    margin: 20px 0px 0px 20px;
  }

  div.heading button#newWeek {
    margin: 20px 20px 0px 0px;
  }


  button#previous div.triangle {
    display: block;
    top: 12.5px;
    right: 20px;
  }

  button#newWeek div.triangle {
    display: block;
    top: 12.5px;
    left: 20px;
  }

  div.heading h1 {
    font-size: 1.3em;
    margin-top: 30px;
  }

  div.heading h1 button#showBubble {display: none}

  div.mobileBubble {display: block}

  /* ----- Dash -----*/

  div.dash {
    width: 90%;
    background: none;
    box-shadow: none;
    margin-top: 70px;
    margin-bottom: 0px;
  }

  div.day {
    width: 100%;
    height: 320px;
    box-shadow: 0px 0px 20px #B4B4B4;
    margin: auto;
    margin-top: 20px;
  }

  div.day:last-of-type {margin-bottom: 50px;}

  div#tue::before, div#wed::before, div#fri::before, div#sat::before {
    display: none;
  }

  div.day h1 {
    margin: 20px 0px 0px 30px;
    font-size: 2em;
  }

  div.day h2 {
    margin: 30px 40px 0px 0px;
    font-size: 1em;
  }

  div.day button.addBtn {
    opacity: 1;
    width: 100%;
    height: 50px;
    font-size: 2.5em;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
  }

  div.day ul {
    width: 80%;
    height: 55%;
    margin: 80px 0px 0px 30px;
  }

/* ----- Task  -----*/

  .task p {
    font-size: 0.9em;
    margin-bottom: 15px;
  }

  .task input {
    width: 20px;
    height: 20px;
    float: right;
  }

  .task button#delete {
    opacity: 1;
    width: 20px;
    height: 20px;
    margin-left: 0px;
  }

/* ----- Task Detail View -----*/

  .detail {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .detail p {
    font-size: 0.8em;
    padding-left: 20px;
    padding-right: 40px;
  }

  /* ----- Menu -----*/

  div.menu {
    position: fixed;
    display: block;
    opacity: 0;
    min-width: 0px;
    width: 100vw;
    height: 100%;
    min-height: 0px;
    z-index: -1000;
  }

  .width {
    width: 100%;
  }

  div.menu div.content {
    position: relative;
    display: block;
    float: right;
    width: 100%;
    height: 100%;
  }

  div.menu button#closeMenuBtn {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 30px 0px 0px 30px;
    font-size: 20px;
  }

  div.menu div.content h1 {
    font-size: 1.8em;
    text-align: center;
    margin-top: 80px;
    margin-left: 0px;
  }

  div.menu div.content h2 {
    font-size: 1.25em;
    text-align: center;
    margin-left: 0px;
  }

  div.menu div.content a {
    font-size: 1.3em;
    text-decoration: none;
    color: black;
    margin: 15px 0px 0px 50px;
  }

  div.menu div.content a:first-of-type {margin-top: 50px}

  div.menu button.menuBtn {
    width: 80%;
    height: 50px;
    border-radius: 0px;
    font-size: 1.2em;
  }

  /* ----- Bubble -----*/

  div.bubble {
    position: absolute;
    display: block;
    width: 100%;
    height: 0px;
    opacity: 1;
    background-color: #EDEDED;
    border-radius: 0px;
    z-index: 2000;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.3s;
    overflow: hidden;
  }

  div.bubble:before {
    display: none;
  }

  div.bubble h1 {
    font-size: 1em;
    text-align: left;
    margin: 40px 0px 0px 40px;
  }

  div.bubble h1 span {font-weight: 700}

  div.bubble input#toDoName {
    position: absolute;
    display: block;
    width: 90%;
    left: 0;
    right: 0;
    bottom: 30px;
    height: 55px;
    margin: auto;
    border: none;
    border-radius: 27.5px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1em;
    outline: none;
  }

  div.bubble button#bubbleAdd {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    width: 55px;
    height: 55px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 35px;
    border: none;
    border-radius: 27.5px;
    margin: 0px 15px 30px 0px;
    color: white;
    transition: 0.5s;
    outline: none;
    z-index: 100;
    background: #FF514C;
    z-index: 2000;
  }

  div.bubble ul#bubbleList {
    position: relative;
    display: block;
    height: 120px;
    margin: 20px 25px 10px 50px;
    overflow: scroll;
  }

  div.bubbleBack {
    position: absolute;
    display: none;
    width: 100%;
    height: calc(100% - 60px);
    z-index: 2000;
  }
}

/* ----------------- SMALL MOBILE -----------------*/

@media screen and (max-device-width: 330px) {

/* ----- Task  -----*/

  .task p {
    font-size: 0.75em;
    margin-bottom: 15px;
  }

  .task input {
    width: 20px;
    height: 20px;
    float: right;
  }

  .task button#delete {
    opacity: 1;
    width: 20px;
    height: 20px;
    margin-left: 0px;
  }

/* ----- Task Detail View -----*/

  .detail {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .detail p {
    font-size: 0.7em;
    padding-left: 20px;
    padding-right: 40px;
  }

/* ----- Menu -----*/

  div.menu div.content h1 {
    font-size: 1.8em;
    text-align: center;
    margin-top: 40px;
    margin-left: 0px;
  }

/* ----- Bubble -----*/

  div.bubble h1 {
    font-size: 1em;
    text-align: center;
    margin: 40px 0px 0px 0px;
  }
}
