body {
  margin: 0;
  min-width: 1250px;
  background: #F1F1F1;
  overflow-y: hidden;
}

div.hideScroll {
  position: absolute;
  display: block;
  width: 78%;
  height: 60%;
  top: 0;
  margin: 90px 0px 0px 50px;
  overflow: hidden;
}

div.bubble div.hideScroll {
  position: absolute;
  display: block;
  width: 78%;
  height: 140px;
  top: 0;
  margin: 60px 25px 10px 50px;
  overflow: hidden;
}

/* ----- Feedback Form -----*/

div.feedback {
  position: fixed;
  display: block;
  bottom: 30px;
  right: 30px;
  width: 50px;
  background: white;
  border: 1px solid #662D90;
  z-index: 3000;
  transition: 0.2s;
}

div.feedback form.wrap {
  height: 0px;
  overflow: hidden;
  transition: 0.2s;
}

div.feedback h3 {
  position: relative;
  display: block;
  width: 80%;
  margin: auto;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  color: #662D90;
  text-align: center;
  clear: right;
}

div.feedback p {
  position: relative;
  display: block;
  width: 80%;
  margin: auto;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  color: #662D90;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

div.feedback input {
  position: relative;
  display: block;
  width: 80%;
  height: 35px;
  margin: auto;
  margin-top: 10px;
  outline: none;
  border: none;
  text-indent: 15px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  background: #F1F1F1;
}

div.feedback textarea {
  position: relative;
  display: block;
  width: 80%;
  height: 100px;
  margin: auto;
  margin-top: 10px;
  outline: none;
  border: none;
  padding: 15px;
  resize: none;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  background: #F1F1F1;
}

div.feedback button {
  position: relative;
  display: block;
  width: 80%;
  height: 40px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  background: #662D90;
  color: white;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

button#minimizeFb {
  position: relative;
  display: block;
  float: right;
  right: 15px;
  top: 15px;
  margin-bottom: 25px;
  margin-top: 0px;
  width: 20px;
  height: 3px;
}

button#openFb {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  background: #662D90;
  color: white;
  font-size: 12px;
}

/* ----- Bar -----*/

div.bar {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100vw;
  min-width: 1250px;
  height: calc(40px + 1vh);
  background: white;
  box-shadow: 0px 0px 10px #B4B4B4;
}

div.bar img {
  position: relative;
  display: inline-block;
  float: left;
  width: 35px;
  margin-left: 30px;
  top: 50%;
  transform: translate(0,-50%);
}

div.bar button {
  position: relative;
  display: inline-block;
  float: right;
  height: 15px;
  width: 30px;
  background: url(../res/menuIcon.png);
  background-size: cover;
  border: none;
  top: 50%;
  transform: translate(0,-50%);
  outline: none;
  margin-right: 20px;
  cursor: pointer;
}

/* ----- Heading -----*/

div.heading {
  position: relative;
  display: block;
  width: 100vw;
  min-width: 1250px;
  height: calc(50px + 2vh);
  z-index: 100;
}

div.heading button {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 15px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  color: white;
  top: 50%;
  transform: translate(0,-50%);
  outline: none;
  cursor: pointer;
}

div.heading button#previous {
  background: #3FA8F4;
  float: left;
  margin-left: 40px;
  transition: 0.3s;
}

button#previous div.triangle {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 12px solid white;
}

div.heading button#newWeek {
  background: #FF514C;
  float: right;
  margin-right: 40px;
  transition: 0.3s;
}

button#newWeek div.triangle {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid white;
}

div.heading button#previous:hover {background: #0581CE}
div.heading button#newWeek:hover {background: #FF2727}

div.heading h1 {
  position: absolute;
  display: inline-block;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 25px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

div.heading h1 span {font-weight: 700}

div.heading h1 button#showBubble {
  position: relative;
  display: inline-block;
  width: 100px;
  border-radius: 0;
  background: #E5E500;
  background-size: cover;
  vertical-align:text-top;
  top: -20px;
  margin-left: 10px;
  border-radius: 15px;
  top: 0;
  transform: translate(0,0);
}

button#showBubble img {
  position: relative;
  display: inline-block;
  height: 18px;
  margin-top: 5px;
}

button#showBubble p {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-left: 5px;
}

div.mobileBubble {
  position: relative;
  display: none;
  width: 95%;
  height: 50px;
  background: white;
  box-shadow: 0px 0px 5px #D1D2D4;
  top: 65px;
  margin: auto;
}

div.mobileBubble p {
  position: absolute;
  display: inline-block;
  float: left;
  left: 20px;
  top: 50%;
  transform: translate(0,-50%);
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.3em;
  color: black;
}

div.mobileBubble p span {font-weight: 700}

div.mobileBubble img {
  position: absolute;
  display: inline-block;
  float: right;
  height: 25px;
  top: 12.5px;
  right: 20px;
}

/* ----- Dash -----*/

div.dash {
  position: relative;
  display: block;
  width: 95vw;
  min-width: 1200px;
  max-width: 1500px;
  height: 80vh;
  min-height: 450px;
  margin: auto;
  background: white;
  box-shadow: 0px 0px 8px #B4B4B4;
  margin-bottom: 35px;
}

div.day {
  position: relative;
  display: inline-block;
  width: 33.3%;
  height: 49.9%;
  background: white;
  vertical-align: top;
  overflow: hidden;
}

div.day.dragover
{
  border-color: #39BAFC;
  border-width: 4px;
  border-style: solid;
  border-radius: 5px;
}

div#tue::before, div#wed::before, div#fri::before, div#sat::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 1px;
  height: 80%;
  background: #CBCBCB;
  margin-top: 37.5px;
}

div.day h1 {
  position: absolute;
  display: block;
  top: 0;
  margin: 35px 0px 0px 30px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
}

div#mon h1 {color: #FF514C}
div#tue h1 {color: #E5E500}
div#wed h1 {color: #F6921E}
div#thu h1 {color: #7AC843}
div#fri h1 {color: #3FA8F4}
div#sat h1 {color: #662D90}

div.day h2 {
  position: absolute;
  display: block;
  top: 40px;
  left: 50%;
  transform: translate(-50%,0);
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
}

div.day button.addBtn {
  position: absolute;
  display: block;
  opacity: 0;
  top: 30px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  border: none;
  border-radius: 25px;
  color: white;
  transition: 0.5s;
  outline: none;
  z-index: 100;
  cursor: pointer;
}

div#mon button {background: #FF514C; /*box-shadow: 0px 0px 10px #FF514C;*/}
div#tue button {background: #E5E500; /*box-shadow: 0px 0px 10px #E5E500;*/}
div#wed button {background: #F6921E; /*box-shadow: 0px 0px 10px #F6921E;*/}
div#thu button {background: #7AC843; /*box-shadow: 0px 0px 10px #7AC843;*/}
div#fri button {background: #3FA8F4; /*box-shadow: 0px 0px 10px #3FA8F4;*/}
div#sat button {background: #662D90; /*box-shadow: 0px 0px 10px #662D90;*/}

div.day:hover button.addBtn {opacity: 1}

div.day ul {
  position: relative;
  display: block;
  width: calc(100% + 16px);
  height: 100%;
  overflow-y: scroll;
}

/* ----- Task  -----*/

.task {
  position: relative;
  display: block;
  width: calc(100% - 16px);
}

.task p {
  position: relative;
  display: inline-block;
  width: 72%;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: calc(12.5px + 0.4vw);
  margin-bottom: 20px;
  cursor: pointer;
}

.task div.dot {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: none;
  margin-right: 4%;
  vertical-align: top;
  top: 5px;
  cursor: pointer;
}
.task div.dot.undefined
{
  cursor: default;
}

.task input {
  position: relative;
  display: inline-block;
  vertical-align: text-top;
  width: 25px;
  height: 25px;
  float: right;
  color: #39B44A;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
}

div.taskProject {
  position: absolute;
  display: block;
  width: auto;
  height: 40px;
  top: 0;
  border-radius: 25px;
  background: #F1F1F1;
  margin-top: 25px;
  margin-left: 8px;
  z-index: 2000;
  /*overflow: hidden;*/
}

div.taskProject h3 {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translate(0, -50%);
  background: #F1F1F1;
  vertical-align: top;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  margin: 0px 5px 0px 20px;
}

div.taskProject button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 40px;
  top: 50%;
  transform: translate(0, -50%);
  background: none !important;
  border: none;
  outline: none;
  vertical-align: top;
  margin: 0px 0px 0px 5px;
}

div.taskProject button img {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
}

div.taskProject::before {
  position: absolute;
  display: block;
  background: #F1F1F1;
  content: '';
  width: 20px;
  height: 20px;
}

/* ----- Context  -----*/

.task button {
  cursor: pointer;
}

.task button#context {
  position: relative;
  display: inline-block;
  opacity: 0;
  float: right;
  width: 25px;
  height: 25px;
  background: url(../res/context.png);
  background-size: cover;
  box-shadow: none;
  border: none;
  outline: none;
  margin-left: 0px;
  transition: 0.2s;
}

div.contextMenu {
  position: relative;
  display: none;
  background: #EDEDED;
  width: calc(100% - 0px);
  height: 30px;
  margin-top: -5px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.toDoDelete {
  position: relative;
  display: inline-block;
  opacity: 1;
  float: right;
  width: 25px;
  height: 25px;
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
  transition: 0.2s;
}

.toDoDelete:hover svg .fill {fill: #FF514C}

div.contextMenu:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 10px;
  margin: auto;
  top: -8px;
  border: 8px solid;
  border-color: transparent #EDEDED #EDEDED transparent;
}

div.contextMenu img {
  position: relative;
  display: block;
  width: 23px;
  height: 23px;
  margin: auto;
}

.task button#deleteNew {
  position: relative;
  display: inline-block;
  opacity: 1;
  float: right;
  width: 33%;
  height: 25px;
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
  margin-top: 2.5px;
  transition: 0.2s;
}

.task button#move {
  position: relative;
  display: inline-block;
  opacity: 1;
  float: right;
  width: 33%;
  height: 25px;
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
  margin-top: 2.5px;
  transition: 0.2s;
}

.task button#edit {
  position: relative;
  display: inline-block;
  opacity: 1;
  float: right;
  width: 33%;
  height: 25px;
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
  margin-top: 2.5px;
  transition: 0.2s;
}

button#edit img {
  width: 20px;
  height: 20px;
}

button#deleteNew svg {
  position: relative;
  display: block;
  height: 23px;
  margin: auto;
}

button#deleteNew svg .fill {
  fill: black;
}

div.moveTask {
  position: relative;
  display: none;
  background: red;
  width: calc(100% - 20px);
  height: 48px;
  margin: auto;
  margin-top: -15px;
  margin-bottom: 20px;
  background: white;
  box-shadow: 0px 0px 5px #B4B4B4;
}

div.moveTask div.whichWeek {
  position: relative;
  display: block;
  height: 13px;
 /* height: 0px;
  transition: height 0.3s;*/
  background: #FF514C;
}

div.moveTask div.whichWeek p {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 10px;
  width: 100%;
  vertical-align: top;
  text-align: center;
  margin-top: 1px;
  color: white;
}

div.moveTask div.buttonContainer {
  position: relative;
  display: inline-block;
  width: calc(100% - 62px);
  height: 35px;
}

div.moveTask button.moveDay {
  position: relative;
  display: inline-block;
  width: 16.5%;
  height: 100%;
  border: none;
  outline: none;
  background: none !important;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

div.moveTask button.switch {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  background: #CECECE !important;
  vertical-align: top;
  margin-top: 5px;
  border: none;
  outline: none;
  border-radius: 13px;
}

button#moveNext div.triangle {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-35%,-50%);
}

button#moveLast div.triangle {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid white;
  top: 50%;
  right: 50%;
  transform: translate(35%,-50%);
}

.noPointer
{
  pointer-events: none;
}

button#moveNext {
  margin-right: 5px;
  float: right;
}

button#moveLast {
  margin-left: 5px;
  float: left;
}

button#moveMon:hover {color: #FF514C}
button#moveTue:hover {color: #E5E500}
button#moveWed:hover {color: #F6921E}
button#moveThu:hover {color: #7AC843}
button#moveFri:hover {color: #3FA8F4}
button#moveSat:hover {color: #662D90}

.task:hover button#context {
  opacity: 1 !important;
}

.task svg {
  position: relative;
  display: block;
}

.task svg .fill {
  fill: #C0CECB;
}

.noFill {
  fill: none;
}

.toggle {
  color: #9FAAB7;
}

/* ----- Task Detail View -----*/

.detail {
  margin-top: -10px;
  opacity: 0;
  display: none;
  transition: 0.3s;
}

.detail p {
  font-family: 'Roboto';
  width: 90%;
  font-weight: 300;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 10px;
}

/* ----- Bubble -----*/

div.bubble {
  position: absolute;
  display: none;
  width: 470px;
  height: 300px;
  opacity: 1;
  background-color: #EDEDED;
  border-radius: 0px;
  z-index: 2000;
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s;
}

div.bubble:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 167px;
  margin: auto;
  top: -30px;
  border: 18px solid;
  border-color: transparent #EDEDED #EDEDED transparent;
}

div.bubble h1 {
  position: relative;
  display: block;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  text-align: left;
  margin: 25px 0px 0px 40px;
}

div.bubble h1 span {font-weight: 700}

div.bubble input#toDoName {
  position: absolute;
  display: block;
  width: 400px;
  bottom: 0;
  right: 0;
  height: 55px;
  margin: 0px 40px 30px 0px;
  border: none;
  border-radius: 27.5px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  outline: none;
  text-indent: 30px;
  padding-right: 60px;
  background: white;
  z-index: 2000;
}

div.bubble button#bubbleAdd {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 55px;
  height: 55px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 35px;
  border: none;
  border-radius: 27.5px;
  margin: 0px 40px 30px 0px;
  color: white;
  transition: 0.5s;
  outline: none;
  z-index: 100;
  background: #FF514C;
  z-index: 2000;
  cursor: pointer;
}

div.bubble ul#bubbleList {
  height: calc(100% + 16px);
  overflow: scroll;
  width: calc(100% + 16px)
}

div.bubble ul#bubbleList li p {
  cursor: auto;
}

div.bubbleBack {
  position: absolute;
  display: none;
  width: 100%;
  height: calc(100% - 60px);
  z-index: 2000;
}


/* ----------------- MOBILE -----------------*/

@media screen and (max-width: 780px) {

  body {
    min-width: 0px;
    min-height: 0px;
    width: 100%;
    overflow-y: auto;
  }

  ::-webkit-scrollbar { display: none; }

  div.hideScroll {
    position: absolute;
    display: block;
    width: 85%;
    height: 55%;
    top: 0;
    margin: 80px 0px 0px 30px;
    overflow: hidden;
  }

  div.bubble div.hideScroll {
    position: absolute;
    display: block;
    width: 78%;
    height: 140px;
    top: 0;
    margin: 60px 25px 10px 50px;
    overflow: hidden;
  }

/* ----- Feedback Form -----*/

  div.feedback {
    bottom: 10px;
    right: 10px;
  }

/* ----- Bar -----*/

  div.bar {
    min-width: 0px;
    min-height: 0px;
    width: 100vw;
  }

  div.bar img {
    position: relative;
    display: inline-block;
    float: left;
    width: 30px;
  }

  div.bar button {
    height: 15px;
    width: 30px;
  }

/* ----- Heading -----*/

  div.heading {
    min-width: 0px;
    width: 100vw;
    height: 60px;
    z-index: 100;
  }

  div.heading button {
    width: 40px;
    height: 40px;
    border-radius: 65px;
  }

  div.heading button p {display: none}

  div.heading button#previous {
    margin-left: 20px;
  }

  div.heading button#newWeek {
    margin-right: 20px;
  }


  button#previous div.triangle {
    display: block;
    top: 12px;
    right: 16px;
  }

  button#newWeek div.triangle {
    display: block;
    top: 12px;
    left: 16px;
  }

  div.heading h1 {
    font-size: 1.3em;
  }

  div.heading h1 button#showBubble {display: none}

  div.mobileBubble {display: block}

  /* ----- Dash -----*/

  div.dash {
    min-width: 0px;
    width: 95%;
    background: none;
    box-shadow: none;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  div.day {
    width: 100%;
    height: 320px;
    box-shadow: 0px 0px 5px #D1D2D4;
    margin: auto;
    margin-top: 20px;
  }

  div.day:last-of-type {margin-bottom: 50px;}

  div#tue::before, div#wed::before, div#fri::before, div#sat::before {
    display: none;
  }

  div.day h1 {
    margin: 20px 0px 0px 30px;
    font-size: 2em;
  }

  div.day h2 {
    top: 30px;
    right: 0;
    left: auto;
    font-size: 1em;
  }

  div.day button.addBtn {
    opacity: 1;
    top: auto;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
    font-size: 2.5em;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
  }

  div.day ul {
    width: 92%;
    margin-left: 2%;

  }

/* ----- Task  -----*/

  .task p {
    font-size: 0.9em;
    margin-bottom: 15px;
    width: 68%;
  }

  .task input {
    width: 20px;
    height: 20px;
    float: right;
  }

  .task button#delete {
    opacity: 1;
    width: 20px;
    height: 20px;
    margin-left: 0px;
  }

  .task div.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }

  div.taskProject {
    position: absolute;
    display: none;
    width: auto;
    height: 30px;
    top: 0;
    border-radius: 15px;
    background: #F1F1F1;
    margin-top: 25px;
    margin-left: 5px;
    z-index: 2000;
  }

  div.taskProject h3 {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translate(0, -50%);
    background: #F1F1F1;
    vertical-align: top;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 15px;
    margin: 0px 5px 0px 20px;
  }

  div.taskProject button {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 40px;
    top: 50%;
    transform: translate(0, -50%);
    background: none !important;
    border: none;
    vertical-align: top;
    margin: 0px 0px 0px 5px;
  }

  div.taskProject button img {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
  }

  /* ----- Context  -----*/

  .task button#context {
    position: relative;
    display: inline-block;
    opacity: 1;
    float: right;
    width: 20px;
    height: 20px;
    background: url(../res/context.png);
    background-size: cover;
    box-shadow: none;
    border: none;
    outline: none;
    margin-left: 5px;
    transition: 0.2s;
  }

  div.contextMenu {
    position: relative;
    display: none;
    background: #EDEDED;
    width: 100%;
    height: 25px;
    margin-top: -5px;
    margin-bottom: 10px;
    border-radius: 8px;
  }

  div.contextMenu:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 10px;
    margin: auto;
    top: -8px;
    border: 8px solid;
    border-color: transparent #EDEDED #EDEDED transparent;
  }

  div.contextMenu img {
    position: relative;
    display: block;
    width: 23px;
    height: 23px;
    margin: auto;
  }

  .task button#deleteNew {
    width: 33%;
    margin-top: 0px;
  }

  .task button#move {
    width: 33%;
    margin-top: 0px;
  }

  .task button#edit {
    width: 33%;
    margin-top: 0px;
  }

  button#edit img {
    width: 18px;
    height: 18px;
  }

  button#deleteNew svg {
    position: relative;
    display: block;
    height: 20px;
    margin: auto;
  }

  button#deleteNew svg .fill {
    fill: black;
  }

  div.moveTask {
    position: relative;
    display: none;
    background: red;
    width: calc(100% - 20px);
    height: 48px;
    margin: auto;
    margin-top: -5px;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0px 0px 5px #B4B4B4;
  }

  div.moveTask div.buttonContainer {
    width: calc(100% - 56px);
  }

  div.moveTask button.moveDay {
    position: relative;
    display: inline-block;
    width: 16.5%;
    height: 100%;
    border: none;
    outline: none;
    background: none !important;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    text-align: center;
  }

  div.moveTask button.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 35px;
    vertical-align: top;
    background: none !important;
    margin-top: 0px;
    border: none;
    outline: none;
    border-radius: 0px;
  }

  button#moveNext div.triangle {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-35%,-50%);
  }

  button#moveLast div.triangle {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid black;
    top: 50%;
    right: 50%;
    transform: translate(35%,-50%);
  }

  button#moveNext {
    margin-right: 0px;
    border-left: 1px dashed black;
  }

  button#moveLast {
    margin-left: 0px;
    border-right: 1px dashed black;
  }

/* ----- Task Detail View -----*/

  .detail {
    margin-top: 0px;
    margin-right: -60px;
    margin-bottom: 0px;
  }

  .detail p {
    font-size: 0.8em;
    padding-left: 10px;
    padding-right: 0px;
  }

  /* ----- Menu -----*/

  div.menu {
    position: fixed;
    display: block;
    opacity: 0;
    min-width: 0px;
    width: 100vw;
    height: 100%;
    min-height: 0px;
    z-index: -1000;
  }

  .width {
    width: 100%;
  }

  div.menu div.content {
    position: relative;
    display: block;
    float: right;
    width: 100%;
    height: 100%;
  }

  div.menu button#closeMenuBtn {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 30px 0px 0px 30px;
    font-size: 20px;
  }

  div.menu div.content h1 {
    font-size: 1.8em;
    text-align: center;
    margin-top: 80px;
    margin-left: 0px;
  }

  div.menu div.content h2 {
    font-size: 1.25em;
    text-align: center;
    margin-left: 0px;
  }

  div.menu div.content a {
    font-size: 1.3em;
    text-decoration: none;
    color: black;
    margin: 15px 0px 0px 50px;
  }

  div.menu div.content a:first-of-type {margin-top: 50px}

  div.menu button.menuBtn {
    width: 80%;
    height: 50px;
    border-radius: 0px;
    font-size: 1.2em;
  }

  /* ----- Bubble -----*/

  div.bubble {
    position: absolute;
    display: block;
    width: 100%;
    height: 0px;
    opacity: 1;
    background-color: #EDEDED;
    border-radius: 0px;
    z-index: 2000;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.3s;
    overflow: hidden;
  }

  div.bubble:before {
    display: none;
  }

  div.bubble h1 {
    font-size: 1em;
    text-align: left;
    margin: 40px 0px 0px 40px;
  }

  div.bubble h1 span {font-weight: 700}

  div.bubble input#toDoName {
    position: absolute;
    display: block;
    width: 90%;
    left: 0;
    right: 0;
    bottom: 30px;
    height: 55px;
    margin: auto;
    border: none;
    border-radius: 27.5px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1em;
    outline: none;
  }

  div.bubble button.toDoDelete {
    width: 20px;
    height: 20px;
  }

  div.bubble button#bubbleAdd {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    width: 55px;
    height: 55px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 35px;
    border: none;
    border-radius: 27.5px;
    margin: 0px 15px 30px 0px;
    color: white;
    transition: 0.5s;
    outline: none;
    z-index: 100;
    background: #FF514C;
    z-index: 2000;
  }

  div.bubble ul#bubbleList {
    width: 95%;
    height: 100%;
    margin: 20px 25px 10px 0px;
  }

  div.bubbleBack {
    position: absolute;
    display: none;
    width: 100%;
    height: calc(100% - 60px);
    z-index: 2000;
  }
}

/* ----------------- SMALL MOBILE -----------------*/

@media screen and (max-device-width: 330px) {

/* ----- Task  -----*/

  .task p {
    font-size: 0.75em;
    margin-bottom: 15px;
  }

  .task input {
    width: 20px;
    height: 20px;
    float: right;
  }

  .task button#delete {
    opacity: 1;
    width: 20px;
    height: 20px;
    margin-left: 0px;
  }

/* ----- Task Detail View -----*/

  .detail {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .detail p {
    font-size: 0.7em;
    padding-left: 20px;
    padding-right: 40px;
  }

/* ----- Menu -----*/

  div.menu div.content h1 {
    font-size: 1.8em;
    text-align: center;
    margin-top: 40px;
    margin-left: 0px;
  }

/* ----- Bubble -----*/

  div.bubble h1 {
    font-size: 1em;
    text-align: center;
    margin: 40px 0px 0px 0px;
  }
}
