body {
  margin: 0;
  min-width: 1250px;
  overflow-x: hidden;
}

/* ----- Bar -----*/

div.bar {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100vw;
  min-width: 1250px;
  height: 60px;
  box-shadow: 0px 0px 10px #B4B4B4;
}

div.bar img {
  position: relative;
  display: inline-block;
  float: left;
  width: 40px;
  margin: 10px 0px 10px 30px;
}

div.bar a:first-of-type {
  margin: 15px 60px 15px 0px;
  background: #FF514C;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  color: white;
}

div.bar a {
  display: none;
  position: relative;
  display: inline-block;
  float: right;
  margin: 20px 40px 20px 10px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

div.bar a:first-of-type:hover {background: #FF2727}

div.bar a#barDash {
  display: none;
  margin: 15px 60px 15px 0px;
  background: #FF514C;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  color: white;
}

/* ----- Background -----*/

div.background {
  position: relative;
  display: block;
  width: 100vw;
  min-width: 1250px;
  height: calc(100% - 530px);
  min-height: 350px;
  background: url(../res/image.jpeg);
  background-size: cover;
  background-position: center;
}

/* ----- Content -----*/

div.content {
  position: relative;
  display: block;
  width: 100vw;
  min-width: 1250px;
  height: 500px;
  background: #FF514C;
}

/* ----- Landing -----*/

div.box {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90vw;
  min-width: calc(1250px*0.9);
  min-height: 550px;
  background: white;
  box-shadow: 0px 0px 10px #929292;
  overflow: hidden;
}

div.text {
  position: absolute;
  display: inline-block;
  width: 30%;
  top: 50%;
  transform: translate(0, -50%);
}

div.text img {
  position: relative;
  display: block;
  width: 100px;
  margin-left: calc(60px + 4vw);
}

div.text h1 {
  position: relative;
  display: block;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 25px;
  margin-top: 40px;
  margin-left: calc(60px + 4vw);
}

div.text h1 span {
  font-weight: 700;
}

div.text a {
  position: relative;
  display: block;
  width: 150px;
  font-family: 'Montserrat';
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding: 15px 0px 15px 0px;
  background: #FF514C;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: calc(60px + 4vw);
  text-align: center;
  transition: 0.3s;
}

div.text a:hover {background: #FF2727}

div.box img.landingImg {
  position: absolute;
  display: inline-block;
  height: 95%;
  left: 45vw;
  vertical-align: top;
}

/* ----- Feature 1 -----*/

div.feature {
  position: relative;
  display: block;
  top: 475px;
  height: 500px;
  background: white;
  overflow: hidden;
}

div.text2 {
  position: relative;
  display: inline-block;
  width: 50%;
  float: left;
  top: 50%;
  transform: translate(0, -50%);
}

div.text2 h1 {
  position: relative;
  display: block;
  width: 500px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 28px;
  margin: auto;
}

div.feature h1 span:first-of-type {color: #FF514C}
div.feature h1 span:last-of-type {color: #3FA8F4}

div.text2 p {
  position: relative;
  display: block;
  width: 500px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
  margin: auto;
}

div.feature img {
  position: relative;
  display: inline-block;
  height: 70%;
  float: right;
  right: 8vw;
  top: 50%;
  transform: translate(0, -50%);
  box-shadow: 0px 0px 10px #CECECE;
}

/* ----- Feature 2 -----*/

div.feature2 {
  position: relative;
  display: block;
  top: 475px;
  height: 600px;
  background: #F1F1F1;
  overflow: hidden;
}

div.feature2 h1 span:first-of-type {color: #9013FE}
div.feature2 h1 span:last-of-type {color: #D8DF21}

div.feature2 img {
  position: absolute;
  display: inline-block;
  width: 850px;
  float: right;
  top: 50%;
  transform: translate(0, -50%);
  left: 55vw;
  box-shadow: 0px 0px 10px #CECECE;
}

div.feature2 a {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 30px;
  width: 160px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: white;
  padding: 12px 0px 12px 0px;
  background: #9013FE;
  border-radius: 15px;
}

/* ----- Beta -----*/

div.beta {
  position: relative;
  display: block;
  top: 475px;
  height: 600px;
  background: #DDDDDD;
  overflow: hidden;
}

div.beta h1 span {color: #FA9134}

div.betaLink {
  position: relative;
  display: inline-block;
  float: right;
  width: 50%;
  height: 100%;
  background: url(../res/betaImage.jpg);
  background-size: cover;
}

div.container {
  position: relative;
  display: block;
  width: 320px;
  height: 350px;
  top: 50%;
  transform: translate(0, -50%);
  margin: auto;
  background: white;
  box-shadow: 0px 0px 8px #CECECE;
  overflow: hidden;
}

div.container img {
  position: relative;
  display: block;
  width: 100px;
  margin: auto;
  margin-top: 45px;
}

div.container h1 {
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 28px;
  margin-top: 10px;
}

div.container p {
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  margin-top: 5px;
}

div.container a {
  position: relative;
  display: block;
  width: 140px;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  background: #FA9134;
  text-decoration: none;
  border-radius: 15px;
  color: white;
  padding: 10px 0px 10px 0px;
  transition: 0.3s;
}

div.container a:hover {opacity: 0.8}

/* ----- Wallpaper -----*/

div.wallpaper {
  position: relative;
  display: block;
  top: 475px;
  width: 100%;
  height: 600px;
  background: url(../res/wallpaperBack.jpeg);
  background-size: cover;
  background-position: center;
}

div.wallpaper div.wrapper {
  position: relative;
  display: block;
  width: 400px;
  height: auto;
  margin-left: 10vw;
  padding: 50px 0px 50px 0px;
  background: none;
  top: 50%;
  transform: translate(0,-50%);
}

div.wrapper h1 {
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 25px;
  color: white;
}

div.wrapper h1 span {font-weight: 700}

div.wrapper a {
  position: relative;
  display: block;
  width: 150px;
  font-family: 'Montserrat';
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding: 15px 0px 15px 0px;
  background: #FF514C;
  border-radius: 15px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  transition: 0.3s;
}

div.wrapper a:hover{background: #FF2727}

/* ----- Footer -----*/

div.footer {
  position: relative;
  display: block;
  top: 475px;
  height: 300px;
  background: #4D4D4D;
}

div.left {
  position: relative;
  display: block;
  width: 350px;
  float: left;
  text-align: center;
  color: white;
  top: 50%;
  transform: translate(0, -50%);
}

div.left img {
  position: relative;
  display: block;
  width: 80px;
  margin: auto;
}

div.left h1 {
  position: relative;
  display: block;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  margin-top: 10px;
}

div.left p {
  position: relative;
  display: block;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  margin-top: 25px;
}

div.right {
  position: relative;
  display: block;
  width: 300px;
  float: right;
  top: 50%;
  transform: translate(0, -60%);
}

div.right a {
  position: relative;
  display: block;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin-top: 8px;
}

/* ----------------- MOBILE -----------------*/

@media screen and (max-width: 736px) {

  body {
    min-width: 0px;
    min-height: 0px;
    width: 100%;
  }

/* ----- Bar -----*/

  div.bar {
    min-width: 0px;
    min-height: 0px;
    width: 100vw;
  }

  div.bar a {
    font-size: 0.75em;
    margin: 22.5px 30px 0px 0px;
  }

  div.bar a:first-of-type {
    margin-right: 30px;
    margin: 17.5px 30px 0px 0px;
  }

  div.bar a#barDash {
    display: none;
    margin: 17.5px 30px 0px 0px;
    background: #FF514C;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    color: white;
  }

/* ----- Background -----*/

  div.background {
    min-width: 0px;
    min-height: 0px;
    width: 100vw;
    height: 250px;
  }

/* ----- Content -----*/

  div.content {
    min-width: 0px;
    min-height: 0px;
    width: 100vw;
    height: 300px;
    text-align: center;
  }

/* ----- Landing -----*/

  div.box {
    min-width: 0px;
    min-height: 0px;
    width: 90%;
    height: 110%;
  }

  div.text {
    position: relative;
    display: block;
    width: 80%;
    margin-left: 0px;
    margin: auto;
  }

  div.text img {
    width: 70px;
    margin: auto;
  }

  div.text h1 {
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.6em
  }

  div.text a {
    margin-left: 0px;
    margin: auto;
  }

  div.box img.landingImg {
    display: none;
  }

/* ----- Feature 1 -----*/

  div.feature {
    min-width: 0px;
    width: 100vw;
    top: 300px;
    height: auto;
  }

  div.text2 {
    min-width: 0px;
    width: 100vw;
    top: 0px;
    transform: translate(0, 0);
    margin-top: 40px;
  }

  div.text2 h1 {
    width: 80%;
    font-size: 1.5em;
    height: auto;
  }

  div.text2 p {
    width: 85%;
    font-size: 1.1em;
    height: auto;
  }

  div.feature img {
    position: relative;
    display: block;
    width: 80%;
    height: auto;
    margin-top: 35px;
    margin-bottom: 40px;
    top: 0;
    transform: translate(0, 0)
  }

/* ----- Feature 2 -----*/

  div.feature2 {
    min-width: 0px;
    width: 100vw;
    top: 300px;
    height: auto;
  }

  div.feature2 p {
    margin-bottom: 30px;
  }

  div.feature2 img {
    position: relative;
    display: block;
    float: none;
    width: 85%;
    left: 0;
    top: 0px;
    transform: translate(0, 0);
    margin: auto;
    margin-bottom: 30px;
  }

  div.feature2 a {
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 150px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 0.85em;
    text-decoration: none;
    color: white;
    padding: 12px 0px 12px 0px;
    background: #9013FE;
    border-radius: 15px;
  }

/* ----- Beta -----*/

  div.beta {
    min-width: 0px;
    width: 100vw;
    top: 300px;
    height: auto;
  }

  div.beta div.text2 {
    position: relative;
    display: block;
    height: auto;
    float: none;
  }

  div.betaLink {
    position: relative;
    display: block;
    float: none;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
  }

  div.betaLink div.container {
    position: relative;
    display: block;
    margin-left: 0;
    top: 0px;
    transform: translate(0, 0);
    width: 50%;
    max-width: 200px;
    margin: auto;
    height: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  div.container img {
    margin-top: 20px;
    width: 50px;
  }

  div.container h1 {
    font-size: 1.5em;
  }

  div.container p {
    font-size: 1.1em;
  }

  div.container a {
    margin-bottom: 30px;
    width: 120px;
    padding: 8px;
    font-size: 1em;
  }

/* ----- Wallpaper -----*/

div.wallpaper {
  position: relative;
  display: block;
  width: 100%;
  top: 300px;
  height: 300px;
}

div.wallpaper div.wrapper {
  width: 80vw;
}

div.wrapper h1 {
  font-size: 20px;
}

div.wrapper a {
  font-size: 1em;
}

/* ----- Footer -----*/

  div.footer {
    min-width: 0px;
    width: 100vw;
    top: 300px;
    height: auto;
    overflow: hidden;
  }

  div.footer div.left {
    position: relative;
    display: block;
    float: none;
    width: 100%;
    top: 0px;
    transform: translate(0, 0);
    margin: 30px 0px 30px 0px;
  }

  div.footer div.right {
    display: none;
  }

  div.footer img {
    position: relative;
    display: block;
    width: 40px;
  }

  div.footer h1 {
    position: relative;
    display: block;
    font-size: 15px;
  }
}
