

/* ----- Menu -----*/

div.menu {
  position: fixed;
  display: block;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: rgba(40, 40, 40, 0.8);
  transition: 0.5s;
  z-index: -1000;
}

div.menu div.content {
  position: relative;
  display: block;
  float: right;
  height: 100vh;
  background: white;
  box-shadow: 0px 0px 8px #444;
  transition: 0.3s;
  overflow: hidden;
  width: 50px;
}

.width {
  width: 350px !important;
  transition: 0.3s;
}

div.menu button {
  cursor: pointer;
}

div.menu button#closeMenuBtn {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  outline: none;
  margin: 20px 0px 0px 20px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  color: white;
  background: #FF514C;
  transition: 0.3s;
}

div.menu button#closeMenuBtn:hover {background: #FF2727}

div.menu div.content h1 {
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 26px;
  margin-top: 50px;
  transition: 0.8s;
}

div.menu div.content h2 {
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  transition: 1s;
}

div.menu div.content a {
  position: relative;
  display: block;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: black;
  margin: 15px 0px 0px 40px;
}

div.menu div.content a:first-of-type {margin-top: 60px}

div.menu button.menuBtn {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
  height: 40px;
  margin: auto;
  border: none;
  border-radius: 30px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  color: white;
  background: #FF514C;
  outline: none;
  transition: 0.3s;
}

div.menu button#signOut {
  margin-bottom: 40px;
}

div.menu button#verify {
  margin-bottom: 100px;
}

div.menu button#signOut:hover {background: #FF2727}
