body {
  overflow-y: hidden;
}

/* ----- Heading -----*/

div.heading a#dashboard {
  background: #FF514C;
  float: right;
  margin-right: 40px;
  transition: 0.3s;
}

div.heading a p {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 3px 0px 0px 5px;
}

div.heading a img {
  position: relative;
  display: inline-block;
  width: 25px;
  vertical-align: top;
}

div.heading h1 {
  position: absolute;
  display: inline-block;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 25px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

div.heading h1 span {font-weight: 700}

/* ----- Dash -----*/

div.dash {
  overflow-y: scroll;
}

div.project {
  position: relative;
  display: inline-block;
  width: 33.1%;
  height: 49.9%;
  background: white;
  vertical-align: top;
  overflow: hidden;
}

div.project div.container {
  position: relative;
  display: block;
  width: 70%;
  min-height: 175px;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
}

div.project div.container h1 {
  position: relative;
  display: block;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 26px;
  cursor: pointer;
}

div.project div.container div.separator {
  position: relative;
  display: block;
  width: 50px;
  height: 3px;
  margin: 12px 0px 12px 0px;
  background: grey;
}

div.project div.container p {
  position: relative;
  display: block;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
  transition: 0.3s;
}

div.modify {
  position: absolute;
  display: none;
  opacity: 0;
  transition: 0.3s;
  margin-top: 15px;
  z-index: 2000;
}

div.modify button {
  position: relative;
  display: inline-block;
  border: none;
  background: none;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
}

div.modify button img {
  position: relative;
  display: block;
  width: 50px;
}

div.project div.container:hover div.modify {
  opacity: 1;
  display: block;
}

div.project div.container:hover  p {
  opacity: 0;
}

div.progress {
  position: absolute;
  display: block;
  width: 250px;
  height: 8px;
  bottom: 0px;
  border-radius: 4px;
  background: #F1F1F1;
}

div.progress div {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  background: grey;
  border-radius: 4px;
}

button.addProject {
  position: relative;
  display: inline-block;
  width: 33.1%;
  height: 49.9%;
  background: white;
  vertical-align: top;
  overflow: hidden;
  border: none;
  outline: none;
  color: #A0A0A0;
  cursor: pointer;
}

button.addProject:hover
{
  color: #212121;
}

button.addProject p {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 80px;
}

button.addProject h3 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 22px;
}

button.mobileAdd {
  display: none;
}


/* ----- New Project Menu -----*/

div.addProject {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: rgba(40, 40, 40, 0.8);
  transition: 0.5s;
  z-index: 2000;
}

div.addProject div.container {
  position: relative;
  display: block;
  background: white;
  width: 600px;
  height: auto;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
}

div.addProject div.container div.content {
  position: relative;
  display: block;
  width: 80%;
  height: 700px;
  margin: auto;
}

/* ----- Input section -----*/

div.inputs {
  position: relative;
  width: calc(70% - 30px);
  float: left;
  margin-left: 30px;
}

div.inputs h1 {
  position: relative;
  display: block;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 40px;
  margin: 65px 0px 35px 0px;
}

div.inputs p {
  position: relative;
  display: block;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 10px;
}

div.inputs input {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  text-indent: 20px;
  padding-right: 10px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  border: none;
  outline: none;
  background: #F1F1F1;
  margin-bottom: 20px;
}

div.inputs textarea {
  position: relative;
  display: block;
  width: 100%;
  height: 180px;
  padding: 20px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  border: none;
  outline: none;
  background: #F1F1F1;
  resize: none;
  margin-bottom: 25px;
}

button#createProject, button#editProject {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  border: none;
  outline: none;
  margin-bottom: 50px;
  color: #FFF;
  background: #FF514C;
  cursor: pointer;
}

button#closeProjectBtn {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 20px;
  color: #FFF;
  background: #FF514C;
  cursor: pointer;
}

/* ----- Color selector -----*/

div.colorSelector {
  position: relative;
  width: 30%;
  height: calc(100% - 110px);
  margin-top: 65px;
  float: right;
}

form.colors {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 100%;
  float: right;
  margin-right: 30px;
}

form.colors input[type="radio"] {
  position: relative;
  display: none;
}

form.colors input[type="radio"] + label {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
}

form.colors input[type="radio"]:checked + label {
  box-shadow: 0px 0px 0px 5px #CECECE;
}

label[for="color1"] {background: #FF5052}
label[for="color2"] {background: #FA9134}
label[for="color3"] {background: #E6E738}
label[for="color4"] {background: #71CA4F}
label[for="color5"] {background: #287B12}
label[for="color6"] {background: #00C6EE}
label[for="color7"] {background: #39BAFC}
label[for="color8"] {background: #428FDE}
label[for="color9"] {background: #9013FE}
label[for="color10"] {background: #692B8D}

/* ----------------- MOBILE -----------------*/

@media screen and (max-width: 780px) {

  body {
    min-width: 0px;
    min-height: 0px;
    width: 100%;
    overflow-y: auto;
  }

  /* ----- Bar -----*/

    div.bar {
      min-width: 0px;
      min-height: 0px;
      width: 100vw;
    }

    div.bar img {
      position: relative;
      float: left;
      width: 30px;
    }

    div.bar button {
      height: 15px;
      width: 30px;
    }

  /* ----- Heading -----*/

    div.heading {
      min-width: 0px;
      width: 100vw;
      height: 60px;
      z-index: 100;
    }

    div.heading a#dashboard {
      width: 40px;
      height: 40px;
      border-radius: 65px;
      margin-right: 20px;
    }

    div.heading a p {display: none}

    div.heading a img {margin-top: 4px;}

    div.heading h1 {
      font-size: 1.3em;
    }

    /* ----- Dash -----*/

    div.dash {
      min-width: 0px;
      width: 95%;
      background: none;
      box-shadow: none;
      margin-bottom: 0px;
      margin-top: -20px;
      overflow-y: visible;
    }

    div.project {
      width: 100%;
      height: auto;
      box-shadow: 0px 0px 5px #D1D2D4;
      margin: auto;
      margin-top: 20px;
    }

    div.project:last-of-type {
      margin-bottom: 30px;
    }

    div.project div.container {
      position: relative;
      display: block;
      width: 80%;
      min-height: 65%;
      margin: auto;
      top: 0;
      transform: translate(0, 0);
    }

    div.project div.container h1 {
      font-size: 28px;
      margin-top: 30px;
    }

    div.project div.container div.separator {
      position: relative;
      display: block;
      width: 50px;
      height: 2px;
      margin: 12px 0px 12px 0px;
      background: grey;
    }

    div.project div.container p {
      font-size: 18px;
      margin-bottom: 20px;
    }

    div.project div.container:hover p {
      opacity: 1 !important;
    }

    div.modify {
      position: relative;
      display: block;
      opacity: 1;
      transition: 0.3s;
      margin-top: 15px;
      margin-bottom: 10px;
      z-index: 2000;
    }

    div.modify button {
      margin-right: 10px;
    }

    div.modify button img {
      position: relative;
      display: block;
      width: 30px;
    }

    div.project div.container:hover div.modify {
      opacity: 1;
      display: block;
    }

    div.project div.container:hover  p {
      opacity: 0;
    }

    div.progress {
      position: relative;
      width: 100%;
      margin-bottom: 35px;
    }

    div.progress div {
      width: 50%;
      height: 100%;
    }

    button.addProject {
      display: none;
    }

    /* ----- Add Project Btn for Mobile -----*/

    button.mobileAdd {
      position: relative;
      display: block;
      width: 100%;
      height: 50px;
      margin-top: 20px;
      margin-bottom: -5px;
      background: white;
      border: none;
      box-shadow: 0px 0px 5px #D1D2D4;
      outline: none;
    }

    button.mobileAdd p {
      position: relative;
      display: inline-block;
      font-family: 'Roboto';
      font-size: 30px;
      font-weight: 500;
      margin-right: 20px;
    }

    button.mobileAdd h3 {
      position: relative;
      display: inline-block;
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 300;
      vertical-align: top;
      margin-top: 8px;
    }

    /* ----- New Project Menu -----*/

    div.addProject {
      display: none;
      background: white;
      overflow-y: scroll;
    }

    div.addProject div.container {
      width: 100%;
      height: 100%;
      overflow: visible;
    }

    div.addProject div.container div.content {
      width: 80%;
      height: 100%;
    }

    /* ----- Input section -----*/

    div.inputs {
      width: 100%;
      float: left;
      margin-left: 0;
    }

    div.inputs h1 {
      font-size: 30px;
      margin: 80px 0px 15px 0px;
    }

    div.inputs p {
      font-weight: 300;
      font-size: 16px;
      margin-bottom: 5px;
    }

    div.inputs input {
      margin-bottom: 15px;
    }

    button#createProject {
      margin-bottom: 30px;
    }

    /* ----- Color selector -----*/

    div.colorSelector {
      position: relative;
      display: block;
      width: auto;
      height: auto;
      margin-top: 65px;
      margin: auto;
      float: left;
    }

    form.colors {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      float: left;
      margin-right: 0px;
      margin-bottom: 60px;
      text-align: center;
    }

    form.colors input[type="radio"] + label {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0px calc(8% - 15px) 8px calc(8% - 15px);
      border-radius: 15px;
    }
}
