body {
  margin: 0;
  min-width: 1000px;
  height: auto !important;
  overflow-x: hidden;
}

/* ----- Bar -----*/

div.bar {
  position: fixed;
  display: block;
  overflow: hidden;
  width: 100vw;
  min-width: 1250px;
  height: 60px;
  box-shadow: 0px 0px 10px #B4B4B4;
  z-index: 5000;
  background: white;
  top: 0;
}

div.bar img {
  position: relative;
  display: inline-block;
  float: left;
  width: 40px;
  margin: 10px 0px 10px 30px;
}

div.bar a.link {
  position: relative;
  display: inline-block;
  float: right;
  margin: 15px 60px 15px 0px;
  padding: 5px 20px 5px 20px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  color: white;
  background: #9013FE;
  border-radius: 15px;
  transition: 0.3s;
}

div.bar a:hover {background: #FF2727}

/* ----- Background -----*/

div.background {
  position: relative;
  display: block;
  width: 100vw;
  margin-top: 60px;
  min-width: 1000px;
  height: calc(65vh - 60px);
  min-height: 450px;
  background: url(../res/image.jpeg);
  background-size: cover;
  background-position: center;
}

/* ----- Content -----*/

div.content {
  position: relative;
  display: block;
  width: 100vw;
  min-width: 1000px;
  height: 35vh;
  min-height: 350px;
  background: #9013FE;
}

div.box {
  position: absolute;
  display: block;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 900px;
  height: 60vh;
  min-height: 600px;
  background: white;
  box-shadow: 0px 0px 10px #929292;
}

div.signup {
  position: relative;
  display: block;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}

div.signup div.left {
  position: relative;
  display: inline-block;
  width: 50%;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

div.signup div.right {
  position: relative;
  display: inline-block;
  width: 50%;
  float: right;
  margin-top: 30px;
  margin-bottom: 30px;
}

div.signup img {
  position: relative;
  display: block;
  width: 100px;
  margin: auto;
}

div.signup input {
  position: relative;
  display: block;
  width: 70%;
  height: 55px;
  margin: auto;
  margin-top: 15px;
  border: none;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  outline: none;
  text-indent: 20px;
  background: #F1F1F1;
}

div.signup div.left input:last-of-type {
  margin-top: 60px;
}

div.signup a.forgot {
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #4D4D4D;
  margin-top: 15px;
}

div.signup button {
  position: relative;
  display: block;
  width: 70%;
  height: 55px;
  margin: auto;
  margin-top: 60px;
  border: none;
  background: #FF514C;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: white;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}

div.signup button:hover{background: #FF2727}

div.signup p::before {
  content: "";
  position: relative;
  display: block;
  width: 150px;
  height: 1px;
  background: #F1F1F1;
  margin: auto;
  margin-bottom: 25px;
  clear: both;
}

div.signup p {
  position: relative;
  display: block;
  text-align: center;
  color: #4D4D4D;
  z-index: -10;
}

div.signup p a {
  font-weight: 700;
  color: #FF514C;
  text-decoration: none;
}

/* ----------------- MOBILE -----------------*/

@media screen and (max-width: 780px) {

  body {
    min-width: 0px;
    min-height: 0px;
    width: 100%;
  }

/* ----- Bar -----*/

  div.bar {
    min-width: 0px;
    min-height: 0px;
    width: 100vw;
  }

  div.bar a.link {
    font-size: 0.75em;
    margin: 17.5px 30px 0px 0px;
  }

  /* ----- Background -----*/

  div.background {
    min-width: 0px;
    min-height: 0px;
    width: 100vw;
    height: 200px;
  }

/* ----- Content -----*/

  div.content {
    min-width: 0px;
    min-height: 0px;
    width: 100vw;
    height: 800px;
  }

  /* ----- Signup -----*/

  div.box {
    width: 85%;
    height: 95%;
    bottom: 90px;
  }

  div.box input {
    width: 75%;
    height: 50px;
    font-size: 15px;
  }

  div.box button {
    width: 75%;
    height: 50px;
    font-size: 18px;
  }

  div.box div.left {
    position: relative;
    display: block;
    float: none;
    width: 100%;
  }

  div.left input#email {
    margin-top: 30px;
  }

  div.box div.right {
    position: relative;
    display: block;
    float: none;
    width: 100%;
  }

  div.box p {
    font-size: 0.85em;
  }

}
